[gcode_macro FullHomeQGL]
description: "Initialize, Home, QGL, Home Z"
gcode:
  M400
  INITIALIZE_TOOLCHANGER
  M400
  G28
  QUAD_GANTRY_LEVEL
  G28 Z
  M400
  INITIALIZE_TOOLCHANGER




[gcode_macro HEATBED]
gcode:
  {% set T = params.TEMP|default(110)|float %}
  {% set M = params.MINS|default(90)|int*60 %} 
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  SET_IDLE_TIMEOUT TIMEOUT={M}
  M140 S{T} ; Start bed heating
  M109 S130                                          # Heat the nozzle a bit
  G28
  G1 X{x_wait} Y{y_wait} Z12 F9000                    # Go to center of the bed
  SET_PIN PIN=nevermore VALUE=1                       # Turn on the nevermore
  M106 S255                                           # Turn on the PT-fan



[gcode_macro CLEAN_NOZZLE]
variable_start_x: 299 # starting position - offset a bit to the right from the brush
variable_start_y: 0 # starting Y position - offset a bit to the front of the brush
variable_start_z: 1   #starting Z height. This should barely touch the surface of the brush
variable_x_min: 260     #left side of the brush 
variable_x_max: 299     #right side of the brush
variable_y_min: -1 #front side of the brush - make sure the nozzle is over the last line of bristles 
variable_y_max: -3 #rear side of the brush - make sure the nozzle is over the first line of bristles
variable_z1: 0 # second z height of the nozzle over the brush - this should be with the nozzle slightly sunk in
variable_z2: 0 # third z height of the nozzle over the brush - this should be with the nozzle fully sunk into the brush, but not touching the bottom of it.
variable_wipe_qty: 2 #how many times to run the cleaning sequence
variable_wipe_spd: 200 #cleaning speed
variable_raise_distance: 30 # z height after cleaning is done
gcode:
  
  {% if "xyz" not in printer.toolhead.homed_axes %}
    G28
  {% endif %}
  
  G90  ; absolute positioning
  ### Move nozzle to start position
  G1 X{start_x} Y{start_y} F9000
  G1 X{x_max} Y{y_min} F9000
  G1 Z{start_z} F1500
  ### Wipe nozzle
  {% for wipes in range(1, (wipe_qty + 1)) %} #wipe left and right
    G1 Y{y_min} F{wipe_spd * 60}
    G1 X{x_min} F{wipe_spd * 60}
    G1 X{start_x} F{wipe_spd * 60}
    
    G1 Y{y_max} F{wipe_spd * 60}
    G1 X{x_min} F{wipe_spd * 60}
    G1 X{start_x} F{wipe_spd * 60}
    G1 Z{z1} F1500
    G1 Y{y_min} F{wipe_spd * 60}
    G1 X{x_min} F{wipe_spd * 60}
    G1 X{start_x} F{wipe_spd * 60}
    
    G1 Y{y_max} F{wipe_spd * 60}
    G1 X{x_min} F{wipe_spd * 60}
    G1 X{start_x} F{wipe_spd * 60}
    G1 Z{z2} F1500
    G1 Y{y_min} F{wipe_spd * 60}
    G1 X{x_min} F{wipe_spd * 60}
    G1 X{start_x} F{wipe_spd * 60}
    
    G1 Y{y_max} F{wipe_spd * 60}
    G1 X{x_min} F{wipe_spd * 60}
    G1 X{start_x} F{wipe_spd * 60}
    
    G1 Z{start_z} F1500
  {% endfor %}
  M109 S150                                   #TEMP DOWN
  {% for wipes in range(1, (wipe_qty + 1)) %} #wipe diagonally
    G1 Z{start_z} F1500
    G1 X{x_min} Y{y_min} F{wipe_spd * 60}
    G1 X{x_max} Y{y_max} F{wipe_spd * 60}
    G1 X{x_min} Y{y_min} F{wipe_spd * 60}
    G1 X{x_max} Y{y_max} F{wipe_spd * 60}
    G1 Z{z1} F1500
    G1 X{x_min} Y{y_min} F{wipe_spd * 60}
    G1 X{x_max} Y{y_max} F{wipe_spd * 60}
    G1 X{x_min} Y{y_min} F{wipe_spd * 60}
    G1 X{x_max} Y{y_max} F{wipe_spd * 60}
   G1 Z{z1} F1500
    G1 X{x_min} Y{y_max} F{wipe_spd * 60}
    G1 X{x_max} Y{y_min} F{wipe_spd * 60}
    G1 X{x_min} Y{y_max} F{wipe_spd * 60}
    G1 X{x_max} Y{y_min} F{wipe_spd * 60}
    G1 Z{z2} F1500
    G1 X{x_min} Y{y_min} F{wipe_spd * 60}
    G1 X{x_max} Y{y_max} F{wipe_spd * 60}
    G1 X{x_min} Y{y_min} F{wipe_spd * 60}
    G1 X{x_max} Y{y_max} F{wipe_spd * 60}
    G1 X{x_min} Y{y_max} F{wipe_spd * 60}
    G1 X{x_max} Y{y_min} F{wipe_spd * 60}
    G1 X{x_min} Y{y_max} F{wipe_spd * 60}
    G1 X{x_max} Y{y_min} F{wipe_spd * 60}
    G1 X{start_x} Y{y_min} F{wipe_spd * 60}
    
    G1 Z{start_z} F1500
  {% endfor %}
  
  G1 X{start_x} Y{start_y} F9000 #go back to starting position
  ## Raise nozzle
  G1 Z{raise_distance} 




################################################
################## Disco Led ###################
################################################
[neopixel case_leds]
# pin: PD15
pin: PE9
chain_count: 8
color_order: GRB
initial_RED: 1.0
initial_GREEN: 1.0
initial_BLUE: 1.0


[gcode_macro LCDRGB]
gcode:
    {% set r = params.R|default(0)|float %}
    {% set g = params.G|default(0)|float %}
    {% set b = params.B|default(0)|float %}

    SET_LED LED=case_leds RED={r} GREEN={g} BLUE={b} INDEX=1 TRANSMIT=0
    SET_LED LED=case_leds RED={r} GREEN={g} BLUE={b} INDEX=2 TRANSMIT=0
    SET_LED LED=case_leds RED={r} GREEN={g} BLUE={b} INDEX=3 TRANSMIT=0
    SET_LED LED=case_leds RED={r} GREEN={g} BLUE={b} INDEX=4 TRANSMIT=0
    SET_LED LED=case_leds RED={r} GREEN={g} BLUE={b} INDEX=5 TRANSMIT=0
    SET_LED LED=case_leds RED={r} GREEN={g} BLUE={b} INDEX=6 TRANSMIT=0
    SET_LED LED=case_leds RED={r} GREEN={g} BLUE={b} INDEX=7 TRANSMIT=0
    SET_LED LED=case_leds RED={r} GREEN={g} BLUE={b} INDEX=8


[gcode_macro INITIAL_RGB]
gcode:
    SET_LED LED=case_leds RED=0.55 GREEN=0.5 BLUE=0.45 INDEX=1 TRANSMIT=0
    SET_LED LED=case_leds RED=0.55 GREEN=0.5 BLUE=0.45 INDEX=2 TRANSMIT=0
    SET_LED LED=case_leds RED=0.55 GREEN=0.5 BLUE=0.45 INDEX=3 TRANSMIT=0
    SET_LED LED=case_leds RED=0.55 GREEN=0.5 BLUE=0.45 INDEX=4 TRANSMIT=0
    SET_LED LED=case_leds RED=0.55 GREEN=0.5 BLUE=0.45 INDEX=5 TRANSMIT=0
    SET_LED LED=case_leds RED=0.55 GREEN=0.5 BLUE=0.45 INDEX=6 TRANSMIT=0
    SET_LED LED=case_leds RED=0.55 GREEN=0.5 BLUE=0.45 INDEX=7 TRANSMIT=0
    SET_LED LED=case_leds RED=0.55 GREEN=0.5 BLUE=0.45 INDEX=8

[delayed_gcode SETDISPLAYNEOPIXEL]
initial_duration: 1
gcode:
    INITIAL_RGB



[gcode_macro CASELIGHT_OFF]
description: Helper: Light off
gcode:
  _SET_CASE_LEDS R=0
  _SET_CASE_LEDS G=0
  _SET_CASE_LEDS B=0



[gcode_macro M104]
rename_existing: M104.1
description: [T<index>] [S<temperature>]
  Set tool temperature.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
  {% if params.T is defined %}
    {% set newparameters = "" %}
    {% set newparameters = newparameters ~ " T="~params.T %}
    {% if params.S is defined %}
      {% set newparameters = newparameters ~ " TARGET="~params.S %}
    {% endif %}
    SET_TOOL_TEMPERATURE{newparameters}
  {% else %}
    M104.1 {rawparams}
  {% endif %}

[gcode_macro M109]
rename_existing: M109.1
description: [T<index>] [S<temperature>]
  Set tool temperature and wait.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
  {% if params.T is defined %}
    {% set newparameters = "" %}
    {% set newparameters = newparameters ~ " T="~params.T %}
    {% if params.S is defined %}
      {% set newparameters = newparameters ~ " TARGET="~params.S %}
    {% endif %}
    SET_TOOL_TEMPERATURE WAIT=1 {newparameters}
  {% else %}
    M109.1 {rawparams}
  {% endif %}

