

[include homing.cfg] 
[include tool_detection.cfg]
[include toolchanger.cfg]
[include calibrate-offsets.cfg]
[include crash-detection.cfg]
[include auto_purge/include.cfg]

# [include toolchanger-config.cfg]
[include ../tools/T0.cfg]
[include ../tools/T1.cfg]
[include ../tools/T2.cfg]
[include ../tools/T3.cfg]

[include ../toolchanger-config.cfg]
[include ../toolchanger-macros.cfg]



# [include T0.cfg]  #8561083a1c5b
# [include T1.cfg]  #b1096733285e
# [include T2.cfg]  #3213920eafe6
# [include T3.cfg]  #1cf3c0580751
# Add more as needed

